<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>{</string>
		<key>shortcut</key>
		<string>jopenbrace</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>{</string>
		<key>shortcut</key>
		<string>jlbrace</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>}</string>
		<key>shortcut</key>
		<string>jclosebrace</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>}</string>
		<key>shortcut</key>
		<string>jrbrace</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[</string>
		<key>shortcut</key>
		<string>jopenbracket</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[</string>
		<key>shortcut</key>
		<string>jlbracket</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>]</string>
		<key>shortcut</key>
		<string>jclosebracket</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>]</string>
		<key>shortcut</key>
		<string>jrbracket</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(</string>
		<key>shortcut</key>
		<string>jopenparen</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(</string>
		<key>shortcut</key>
		<string>jlparen</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>)</string>
		<key>shortcut</key>
		<string>jcloseparen</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>)</string>
		<key>shortcut</key>
		<string>jrparen</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⟨</string>
		<key>shortcut</key>
		<string>jopenangle</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⟨</string>
		<key>shortcut</key>
		<string>jlangle</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⟩</string>
		<key>shortcut</key>
		<string>jcloseangle</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⟩</string>
		<key>shortcut</key>
		<string>jrangle</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>=</string>
		<key>shortcut</key>
		<string>jequals</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>=</string>
		<key>shortcut</key>
		<string>jequal</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≠</string>
		<key>shortcut</key>
		<string>jneq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≤</string>
		<key>shortcut</key>
		<string>jleq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≥</string>
		<key>shortcut</key>
		<string>jgeq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>&lt;</string>
		<key>shortcut</key>
		<string>jlt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>&lt;</string>
		<key>shortcut</key>
		<string>jlessthan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>&gt;</string>
		<key>shortcut</key>
		<string>jgt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>&gt;</string>
		<key>shortcut</key>
		<string>jgreaterthan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≡</string>
		<key>shortcut</key>
		<string>jequiv</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≡</string>
		<key>shortcut</key>
		<string>jequivalent</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≢</string>
		<key>shortcut</key>
		<string>jnotequiv</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≈</string>
		<key>shortcut</key>
		<string>japprox</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≈</string>
		<key>shortcut</key>
		<string>japproximately</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∼</string>
		<key>shortcut</key>
		<string>jsimilar</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∼</string>
		<key>shortcut</key>
		<string>jsim</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∈</string>
		<key>shortcut</key>
		<string>jin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∈</string>
		<key>shortcut</key>
		<string>jisin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∉</string>
		<key>shortcut</key>
		<string>jnotin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∉</string>
		<key>shortcut</key>
		<string>jisnotin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐚</string>
		<key>shortcut</key>
		<string>jbolda</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐚</string>
		<key>shortcut</key>
		<string>jboldlowera</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐚</string>
		<key>shortcut</key>
		<string>jboldlowa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐚</string>
		<key>shortcut</key>
		<string>jboldla</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐛</string>
		<key>shortcut</key>
		<string>jboldb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐛</string>
		<key>shortcut</key>
		<string>jboldlowerb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐛</string>
		<key>shortcut</key>
		<string>jboldlowb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐛</string>
		<key>shortcut</key>
		<string>jboldlb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐜</string>
		<key>shortcut</key>
		<string>jboldc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐜</string>
		<key>shortcut</key>
		<string>jboldlowerc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐜</string>
		<key>shortcut</key>
		<string>jboldlowc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐜</string>
		<key>shortcut</key>
		<string>jboldlc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐝</string>
		<key>shortcut</key>
		<string>jboldd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐝</string>
		<key>shortcut</key>
		<string>jboldlowerd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐝</string>
		<key>shortcut</key>
		<string>jboldlowd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐝</string>
		<key>shortcut</key>
		<string>jboldld</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐞</string>
		<key>shortcut</key>
		<string>jbolde</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐞</string>
		<key>shortcut</key>
		<string>jboldlowere</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐞</string>
		<key>shortcut</key>
		<string>jboldlowe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐞</string>
		<key>shortcut</key>
		<string>jboldle</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐟</string>
		<key>shortcut</key>
		<string>jboldf</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐟</string>
		<key>shortcut</key>
		<string>jboldlowerf</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐟</string>
		<key>shortcut</key>
		<string>jboldlowf</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐟</string>
		<key>shortcut</key>
		<string>jboldlf</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐠</string>
		<key>shortcut</key>
		<string>jboldg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐠</string>
		<key>shortcut</key>
		<string>jboldlowerg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐠</string>
		<key>shortcut</key>
		<string>jboldlowg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐠</string>
		<key>shortcut</key>
		<string>jboldlg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐡</string>
		<key>shortcut</key>
		<string>jboldh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐡</string>
		<key>shortcut</key>
		<string>jboldlowerh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐡</string>
		<key>shortcut</key>
		<string>jboldlowh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐡</string>
		<key>shortcut</key>
		<string>jboldlh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐢</string>
		<key>shortcut</key>
		<string>jboldi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐢</string>
		<key>shortcut</key>
		<string>jboldloweri</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐢</string>
		<key>shortcut</key>
		<string>jboldlowi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐢</string>
		<key>shortcut</key>
		<string>jboldli</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐣</string>
		<key>shortcut</key>
		<string>jboldj</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐣</string>
		<key>shortcut</key>
		<string>jboldlowerj</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐣</string>
		<key>shortcut</key>
		<string>jboldlowj</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐣</string>
		<key>shortcut</key>
		<string>jboldlj</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐤</string>
		<key>shortcut</key>
		<string>jboldk</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐤</string>
		<key>shortcut</key>
		<string>jboldlowerk</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐤</string>
		<key>shortcut</key>
		<string>jboldlowk</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐤</string>
		<key>shortcut</key>
		<string>jboldlk</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐥</string>
		<key>shortcut</key>
		<string>jboldl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐥</string>
		<key>shortcut</key>
		<string>jboldlowerl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐥</string>
		<key>shortcut</key>
		<string>jboldlowl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐥</string>
		<key>shortcut</key>
		<string>jboldll</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐦</string>
		<key>shortcut</key>
		<string>jboldm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐦</string>
		<key>shortcut</key>
		<string>jboldlowerm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐦</string>
		<key>shortcut</key>
		<string>jboldlowm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐦</string>
		<key>shortcut</key>
		<string>jboldlm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐧</string>
		<key>shortcut</key>
		<string>jboldn</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐧</string>
		<key>shortcut</key>
		<string>jboldlowern</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐧</string>
		<key>shortcut</key>
		<string>jboldlown</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐧</string>
		<key>shortcut</key>
		<string>jboldln</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐨</string>
		<key>shortcut</key>
		<string>jboldo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐨</string>
		<key>shortcut</key>
		<string>jboldlowero</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐨</string>
		<key>shortcut</key>
		<string>jboldlowo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐨</string>
		<key>shortcut</key>
		<string>jboldlo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐩</string>
		<key>shortcut</key>
		<string>jboldp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐩</string>
		<key>shortcut</key>
		<string>jboldlowerp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐩</string>
		<key>shortcut</key>
		<string>jboldlowp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐩</string>
		<key>shortcut</key>
		<string>jboldlp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐪</string>
		<key>shortcut</key>
		<string>jboldq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐪</string>
		<key>shortcut</key>
		<string>jboldlowerq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐪</string>
		<key>shortcut</key>
		<string>jboldlowq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐪</string>
		<key>shortcut</key>
		<string>jboldlq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐫</string>
		<key>shortcut</key>
		<string>jboldr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐫</string>
		<key>shortcut</key>
		<string>jboldlowerr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐫</string>
		<key>shortcut</key>
		<string>jboldlowr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐫</string>
		<key>shortcut</key>
		<string>jboldlr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐬</string>
		<key>shortcut</key>
		<string>jbolds</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐬</string>
		<key>shortcut</key>
		<string>jboldlowers</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐬</string>
		<key>shortcut</key>
		<string>jboldlows</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐬</string>
		<key>shortcut</key>
		<string>jboldls</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐭</string>
		<key>shortcut</key>
		<string>jboldt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐭</string>
		<key>shortcut</key>
		<string>jboldlowert</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐭</string>
		<key>shortcut</key>
		<string>jboldlowt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐭</string>
		<key>shortcut</key>
		<string>jboldlt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐮</string>
		<key>shortcut</key>
		<string>jboldu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐮</string>
		<key>shortcut</key>
		<string>jboldloweru</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐮</string>
		<key>shortcut</key>
		<string>jboldlowu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐮</string>
		<key>shortcut</key>
		<string>jboldlu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐯</string>
		<key>shortcut</key>
		<string>jboldv</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐯</string>
		<key>shortcut</key>
		<string>jboldlowerv</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐯</string>
		<key>shortcut</key>
		<string>jboldlowv</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐯</string>
		<key>shortcut</key>
		<string>jboldlv</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐰</string>
		<key>shortcut</key>
		<string>jboldw</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐰</string>
		<key>shortcut</key>
		<string>jboldlowerw</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐰</string>
		<key>shortcut</key>
		<string>jboldloww</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐰</string>
		<key>shortcut</key>
		<string>jboldlw</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐱</string>
		<key>shortcut</key>
		<string>jboldx</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐱</string>
		<key>shortcut</key>
		<string>jboldlowerx</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐱</string>
		<key>shortcut</key>
		<string>jboldlowx</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐱</string>
		<key>shortcut</key>
		<string>jboldlx</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐲</string>
		<key>shortcut</key>
		<string>jboldy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐲</string>
		<key>shortcut</key>
		<string>jboldlowery</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐲</string>
		<key>shortcut</key>
		<string>jboldlowy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐲</string>
		<key>shortcut</key>
		<string>jboldly</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐳</string>
		<key>shortcut</key>
		<string>jboldz</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐳</string>
		<key>shortcut</key>
		<string>jboldlowerz</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐳</string>
		<key>shortcut</key>
		<string>jboldlowz</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐳</string>
		<key>shortcut</key>
		<string>jboldlz</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>+</string>
		<key>shortcut</key>
		<string>jplus</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>-</string>
		<key>shortcut</key>
		<string>jminus</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>-</string>
		<key>shortcut</key>
		<string>jhyphen</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>×</string>
		<key>shortcut</key>
		<string>jcross</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>×</string>
		<key>shortcut</key>
		<string>jtimes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>·</string>
		<key>shortcut</key>
		<string>jcdot</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∘</string>
		<key>shortcut</key>
		<string>jcirc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∘</string>
		<key>shortcut</key>
		<string>jcompose</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>±</string>
		<key>shortcut</key>
		<string>jpm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊕</string>
		<key>shortcut</key>
		<string>joplus</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊙</string>
		<key>shortcut</key>
		<string>jodot</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊗</string>
		<key>shortcut</key>
		<string>jocross</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊗</string>
		<key>shortcut</key>
		<string>jotimes</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒜</string>
		<key>shortcut</key>
		<string>jcala</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℬ</string>
		<key>shortcut</key>
		<string>jcalb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒞</string>
		<key>shortcut</key>
		<string>jcalc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒟</string>
		<key>shortcut</key>
		<string>jcald</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℰ</string>
		<key>shortcut</key>
		<string>jcale</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℱ</string>
		<key>shortcut</key>
		<string>jcalf</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒢</string>
		<key>shortcut</key>
		<string>jcalg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℋ</string>
		<key>shortcut</key>
		<string>jcalh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℐ</string>
		<key>shortcut</key>
		<string>jcali</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒥</string>
		<key>shortcut</key>
		<string>jcalj</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒦</string>
		<key>shortcut</key>
		<string>jcalk</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℒ</string>
		<key>shortcut</key>
		<string>jcall</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℳ</string>
		<key>shortcut</key>
		<string>jcalm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒩</string>
		<key>shortcut</key>
		<string>jcaln</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒪</string>
		<key>shortcut</key>
		<string>jcalo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒫</string>
		<key>shortcut</key>
		<string>jcalp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒬</string>
		<key>shortcut</key>
		<string>jcalq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℛ</string>
		<key>shortcut</key>
		<string>jcalr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒮</string>
		<key>shortcut</key>
		<string>jcals</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒯</string>
		<key>shortcut</key>
		<string>jcalt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒰</string>
		<key>shortcut</key>
		<string>jcalu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒱</string>
		<key>shortcut</key>
		<string>jcalv</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒲</string>
		<key>shortcut</key>
		<string>jcalw</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒳</string>
		<key>shortcut</key>
		<string>jcalx</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒴</string>
		<key>shortcut</key>
		<string>jcaly</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒵</string>
		<key>shortcut</key>
		<string>jcalz</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∞</string>
		<key>shortcut</key>
		<string>jinfinity</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∅</string>
		<key>shortcut</key>
		<string>jemptyset</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↦</string>
		<key>shortcut</key>
		<string>jmapsto</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>jarrow</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>jrightarrow</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>jrarrow</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>jleftarrow</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>jlarrow</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↔</string>
		<key>shortcut</key>
		<string>jbiarrow</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∧</string>
		<key>shortcut</key>
		<string>jand</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∧</string>
		<key>shortcut</key>
		<string>jland</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∨</string>
		<key>shortcut</key>
		<string>jor</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∨</string>
		<key>shortcut</key>
		<string>jlor</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¬</string>
		<key>shortcut</key>
		<string>jnot</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇒</string>
		<key>shortcut</key>
		<string>jimplies</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇔</string>
		<key>shortcut</key>
		<string>jiff</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇔</string>
		<key>shortcut</key>
		<string>jifandonlyif</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∀</string>
		<key>shortcut</key>
		<string>jforall</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∀</string>
		<key>shortcut</key>
		<string>jall</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∃</string>
		<key>shortcut</key>
		<string>jexists</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∃</string>
		<key>shortcut</key>
		<string>jthereexists</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∄</string>
		<key>shortcut</key>
		<string>jnotexists</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊨</string>
		<key>shortcut</key>
		<string>jentails</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊢</string>
		<key>shortcut</key>
		<string>jjudges</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊤</string>
		<key>shortcut</key>
		<string>jtrue</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊥</string>
		<key>shortcut</key>
		<string>jfalse</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∴</string>
		<key>shortcut</key>
		<string>jtherefore</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👍</string>
		<key>shortcut</key>
		<string>jthumbsup</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👍</string>
		<key>shortcut</key>
		<string>jthumbup</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>❤️</string>
		<key>shortcut</key>
		<string>jheart</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😂</string>
		<key>shortcut</key>
		<string>jlaugh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😊</string>
		<key>shortcut</key>
		<string>jrosysmile</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😉</string>
		<key>shortcut</key>
		<string>jwink</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🔥</string>
		<key>shortcut</key>
		<string>jfire</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤔</string>
		<key>shortcut</key>
		<string>jthink</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤔</string>
		<key>shortcut</key>
		<string>jhmm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✅</string>
		<key>shortcut</key>
		<string>jcheck</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✅</string>
		<key>shortcut</key>
		<string>jdone</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎉</string>
		<key>shortcut</key>
		<string>jparty</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎉</string>
		<key>shortcut</key>
		<string>jcelebrate</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐀</string>
		<key>shortcut</key>
		<string>jboldupa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐀</string>
		<key>shortcut</key>
		<string>jbolduppera</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐀</string>
		<key>shortcut</key>
		<string>jboldua</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐁</string>
		<key>shortcut</key>
		<string>jboldupb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐁</string>
		<key>shortcut</key>
		<string>jboldupperb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐁</string>
		<key>shortcut</key>
		<string>jboldub</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐂</string>
		<key>shortcut</key>
		<string>jboldupc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐂</string>
		<key>shortcut</key>
		<string>jboldupperc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐂</string>
		<key>shortcut</key>
		<string>jbolduc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐃</string>
		<key>shortcut</key>
		<string>jboldupd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐃</string>
		<key>shortcut</key>
		<string>jboldupperd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐃</string>
		<key>shortcut</key>
		<string>jboldud</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐄</string>
		<key>shortcut</key>
		<string>jboldupe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐄</string>
		<key>shortcut</key>
		<string>jbolduppere</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐄</string>
		<key>shortcut</key>
		<string>jboldue</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐅</string>
		<key>shortcut</key>
		<string>jboldupf</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐅</string>
		<key>shortcut</key>
		<string>jboldupperf</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐅</string>
		<key>shortcut</key>
		<string>jbolduf</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐆</string>
		<key>shortcut</key>
		<string>jboldupg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐆</string>
		<key>shortcut</key>
		<string>jboldupperg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐆</string>
		<key>shortcut</key>
		<string>jboldug</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐇</string>
		<key>shortcut</key>
		<string>jbolduph</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐇</string>
		<key>shortcut</key>
		<string>jboldupperh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐇</string>
		<key>shortcut</key>
		<string>jbolduh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐈</string>
		<key>shortcut</key>
		<string>jboldupi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐈</string>
		<key>shortcut</key>
		<string>jboldupperi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐈</string>
		<key>shortcut</key>
		<string>jboldui</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐉</string>
		<key>shortcut</key>
		<string>jboldupj</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐉</string>
		<key>shortcut</key>
		<string>jboldupperj</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐉</string>
		<key>shortcut</key>
		<string>jbolduj</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐊</string>
		<key>shortcut</key>
		<string>jboldupk</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐊</string>
		<key>shortcut</key>
		<string>jboldupperk</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐊</string>
		<key>shortcut</key>
		<string>jbolduk</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐋</string>
		<key>shortcut</key>
		<string>jboldupl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐋</string>
		<key>shortcut</key>
		<string>jboldupperl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐋</string>
		<key>shortcut</key>
		<string>jboldul</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐌</string>
		<key>shortcut</key>
		<string>jboldupm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐌</string>
		<key>shortcut</key>
		<string>jboldupperm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐌</string>
		<key>shortcut</key>
		<string>jboldum</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐍</string>
		<key>shortcut</key>
		<string>jboldupn</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐍</string>
		<key>shortcut</key>
		<string>jbolduppern</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐍</string>
		<key>shortcut</key>
		<string>jboldun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐎</string>
		<key>shortcut</key>
		<string>jboldupo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐎</string>
		<key>shortcut</key>
		<string>jbolduppero</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐎</string>
		<key>shortcut</key>
		<string>jbolduo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐏</string>
		<key>shortcut</key>
		<string>jboldupp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐏</string>
		<key>shortcut</key>
		<string>jboldupperp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐏</string>
		<key>shortcut</key>
		<string>jboldup</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐐</string>
		<key>shortcut</key>
		<string>jboldupq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐐</string>
		<key>shortcut</key>
		<string>jboldupperq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐐</string>
		<key>shortcut</key>
		<string>jbolduq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐑</string>
		<key>shortcut</key>
		<string>jboldupr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐑</string>
		<key>shortcut</key>
		<string>jboldupperr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐑</string>
		<key>shortcut</key>
		<string>jboldur</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐒</string>
		<key>shortcut</key>
		<string>jboldups</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐒</string>
		<key>shortcut</key>
		<string>jbolduppers</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐒</string>
		<key>shortcut</key>
		<string>jboldus</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐓</string>
		<key>shortcut</key>
		<string>jboldupt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐓</string>
		<key>shortcut</key>
		<string>jbolduppert</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐓</string>
		<key>shortcut</key>
		<string>jboldut</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐔</string>
		<key>shortcut</key>
		<string>jboldupu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐔</string>
		<key>shortcut</key>
		<string>jboldupperu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐔</string>
		<key>shortcut</key>
		<string>jbolduu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐕</string>
		<key>shortcut</key>
		<string>jboldupv</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐕</string>
		<key>shortcut</key>
		<string>jboldupperv</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐕</string>
		<key>shortcut</key>
		<string>jbolduv</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐖</string>
		<key>shortcut</key>
		<string>jboldupw</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐖</string>
		<key>shortcut</key>
		<string>jboldupperw</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐖</string>
		<key>shortcut</key>
		<string>jbolduw</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐗</string>
		<key>shortcut</key>
		<string>jboldupx</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐗</string>
		<key>shortcut</key>
		<string>jboldupperx</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐗</string>
		<key>shortcut</key>
		<string>jboldux</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐘</string>
		<key>shortcut</key>
		<string>jboldupy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐘</string>
		<key>shortcut</key>
		<string>jbolduppery</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐘</string>
		<key>shortcut</key>
		<string>jbolduy</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐙</string>
		<key>shortcut</key>
		<string>jboldupz</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐙</string>
		<key>shortcut</key>
		<string>jboldupperz</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝐙</string>
		<key>shortcut</key>
		<string>jbolduz</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔸</string>
		<key>shortcut</key>
		<string>jbba</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔹</string>
		<key>shortcut</key>
		<string>jbbb</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℂ</string>
		<key>shortcut</key>
		<string>jbbc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔻</string>
		<key>shortcut</key>
		<string>jbbd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔼</string>
		<key>shortcut</key>
		<string>jbbe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔽</string>
		<key>shortcut</key>
		<string>jbbf</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔾</string>
		<key>shortcut</key>
		<string>jbbg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℍ</string>
		<key>shortcut</key>
		<string>jbbh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕀</string>
		<key>shortcut</key>
		<string>jbbi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕁</string>
		<key>shortcut</key>
		<string>jbbj</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕂</string>
		<key>shortcut</key>
		<string>jbbk</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕃</string>
		<key>shortcut</key>
		<string>jbbl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕄</string>
		<key>shortcut</key>
		<string>jbbm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℕ</string>
		<key>shortcut</key>
		<string>jbbn</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕆</string>
		<key>shortcut</key>
		<string>jbbo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℙ</string>
		<key>shortcut</key>
		<string>jbbp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℚ</string>
		<key>shortcut</key>
		<string>jbbq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℝ</string>
		<key>shortcut</key>
		<string>jbbr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕊</string>
		<key>shortcut</key>
		<string>jbbs</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕋</string>
		<key>shortcut</key>
		<string>jbbt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕌</string>
		<key>shortcut</key>
		<string>jbbu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕍</string>
		<key>shortcut</key>
		<string>jbbv</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕎</string>
		<key>shortcut</key>
		<string>jbbw</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕏</string>
		<key>shortcut</key>
		<string>jbbx</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕐</string>
		<key>shortcut</key>
		<string>jbby</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℤ</string>
		<key>shortcut</key>
		<string>jbbz</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>_</string>
		<key>shortcut</key>
		<string>junderscore</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>/</string>
		<key>shortcut</key>
		<string>jslash</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>/</string>
		<key>shortcut</key>
		<string>jforwardslash</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>\</string>
		<key>shortcut</key>
		<string>jbackslash</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>*</string>
		<key>shortcut</key>
		<string>jasterisk</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>.</string>
		<key>shortcut</key>
		<string>jperiod</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>,</string>
		<key>shortcut</key>
		<string>jcomma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>:</string>
		<key>shortcut</key>
		<string>jcolon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>;</string>
		<key>shortcut</key>
		<string>jsemicolon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>'</string>
		<key>shortcut</key>
		<string>japostrophe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>'</string>
		<key>shortcut</key>
		<string>jquote</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>"</string>
		<key>shortcut</key>
		<string>jlquote</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>"</string>
		<key>shortcut</key>
		<string>jleftquote</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>"</string>
		<key>shortcut</key>
		<string>jrquote</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>"</string>
		<key>shortcut</key>
		<string>jrightquote</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>`</string>
		<key>shortcut</key>
		<string>jbacktick</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>&amp;</string>
		<key>shortcut</key>
		<string>jampersand</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>|</string>
		<key>shortcut</key>
		<string>jpipe</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>|</string>
		<key>shortcut</key>
		<string>jbar</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>~</string>
		<key>shortcut</key>
		<string>jtilde</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>%</string>
		<key>shortcut</key>
		<string>jpercent</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>^</string>
		<key>shortcut</key>
		<string>jcaret</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>^</string>
		<key>shortcut</key>
		<string>jhat</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>$</string>
		<key>shortcut</key>
		<string>jdollar</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>#</string>
		<key>shortcut</key>
		<string>jhash</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>?</string>
		<key>shortcut</key>
		<string>jquestion</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>!</string>
		<key>shortcut</key>
		<string>jexclamation</string>
	</dict>
</array>
</plist>
