{
    :profiles {
        :Default {
            :default true
            :sim     200
            :delay   300
            :alone   300
            :held    700
        }
    }

    :templates {
        :paste "osascript -e '
        set prev to the clipboard
        set the clipboard to \"%s\"
        tell application \"System Events\"
            keystroke \"v\" using command down
            delay 0.1
        end tell
        set the clipboard to prev
        '"
        :paste-left "osascript -e '
        set prev to the clipboard
        set the clipboard to \"%s\"
        tell application \"System Events\"
            keystroke \"v\" using command down
            key code 123
            delay 0.1
        end tell
        set the clipboard to prev
        '"
   }

    :devices {
        :builtin [{:is_built_in_keyboard true}]
    }

    :simlayers {
        ; ---------------------------------------
        ; ---------- Left Hand Activated --------
        ; ---------------------------------------
        :f-text-editing {:key :f :condi :builtin}
        :d-dual-punctuation {:key :d :condi :builtin}
        :s-solo-punctuation {:key :s :condi :builtin}
        :a-6-through-0 {:key :a :condi :builtin}

        :r-recording {:key :r :condi :builtin}

        :v-relations {:key :v :condi :builtin}
        :c-operators {:key :c :condi :builtin}
        :x-logic {:key :x :condi :builtin}

        :g-left-shift {:key :g :condi :builtin}

        ; ---------------------------------------
        ; -------- Right Hand Activated ---------
        ; ---------------------------------------
        :j-text-navigation {:key :j :condi :builtin}
        :k-tab-navigation {:key :k :condi :builtin}
        :l-window-navigation {:key :l :condi :builtin}
        :semicolon-1-through-5 {:key :semicolon :condi :builtin}

        :u-file-navigation {:key :u :condi :builtin}
        :i-text-selection {:key :i :condi :builtin}
        :o-audio-visual {:key :o :condi :builtin}
        :p-tmux {:key :p :condi :builtin}

        :h-right-shift {:key :h :condi :builtin}
    }

    :input-sources {
        :russian-phonetic {
            :input_source_id "^com\\.apple\\.keylayout\\.Russian-Phonetic$"
        }
        :us {
            :input_source_id "^com\\.apple\\.keylayout\\.US$"
        }
    }

    :main [
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ------------ Text Editing -------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "f-text-editing"
            :rules [
                [:condi :f-text-editing :builtin]
                
                [:j :delete_or_backspace] ; delete character before cursor
                [:k :return_or_enter] ; enter 
                [:l :tab] ; tab
                [:semicolon :!Sreturn_or_enter] ; return

                [:u :!Copen_bracket] ; deindent
                [:i :!Cclose_bracket] ; indent

                [:m :!Odelete_or_backspace] ; delete word (respects app-configured word-seperators) before cursor
                [:comma :!OFdelete_or_backspace] ; delete word (respects app-configured word-seperators) after cursor
                [:period :!Cdelete_or_backspace] ; delete to beg. of line
                [:slash :!CFdelete_or_backspace] ; delete to end of line

                [:n :!Fdelete_or_backspace] ; delete character after cursor 


            ]
        }

        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------- D Dual Punctuation ---------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "d-dual-punctuation"
            :rules [
                [:condi :d-dual-punctuation :builtin]

                [:j [:!S9 :!S0 :left_arrow]] ; (cursor)
                [:k [:open_bracket :close_bracket :left_arrow]] ; [cursor]
                [:l [:!Sopen_bracket :!Sclose_bracket :left_arrow]] ; {cursor}
                [:semicolon [:paste-left "⟨⟩"]] ; ⟨cursor⟩

                [:u [:!Squote :!Squote :left_arrow]] ; “cursor”
                [:i :!Squote] ; "
                [:o [:quote :quote :left_arrow]] ; 'cursor'
                [:p :quote] ; '

                [:h [
                    :grave_accent_and_tilde
                    :grave_accent_and_tilde 
                    :left_arrow
                ]] ; `cursor`

            ]
        }

        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ----------- S Solo Punctuation --------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "s-solo-punctuation"
            :rules [
                [:condi :s-solo-punctuation :builtin]
                
                [:j :equal_sign] ; =
                [:k :hyphen] ; - hyphen
                [:l :!Shyphen] ; _ underscore
                [:semicolon :slash] ; /

                [:u :!Sequal_sign] ; +
                [:i :!S8] ; *
                [:o :!S3] ; #
                [:p :backslash] ; \

                [:m :!Sgrave_accent_and_tilde] ; ~
                [:comma :!S5] ; %
                [:period :!S6] ; ^
                [:slash :!S7] ; &

                [:h :!Sbackslash] ; |
            ]
        }

        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ------------ A 6 through 0 ------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "a-6-through-0"
            :rules [
                [:condi :a-6-through-0 :builtin]

                [:h :6]
                [:j :7]
                [:k :8]
                [:l :9]
                [:semicolon :0]

                [:u :!O5] ; infinity
                [:i :!OSo] ; empty set
            ]
        }
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; -------------- R Recording ------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "r-recording"
            :rules [
                [:condi :r-recording :builtin]

                [:j :!TOa] ; resume recoding
                [:k :!TOb] ; pause recording
                [:l :f13] ; start recording
                [:semicolon :!TOd] ; stop recording
            ]
        }

        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; -------------- V Relations ------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "v-relations"
            :rules [
                [:condi :v-relations :builtin]

                [:j :equal_sign]
                [:k :!Oequal_sign]
                [:l [:paste "≡"]]
                [:semicolon [:paste "≢"]]

                [:h [:paste "∼"]]

                [:u :!Ocomma]
                [:i :!Operiod]
                [:o :!Scomma]
                [:p :!Speriod]

                [:m [:paste "∈"]]
                [:comma [:paste "∉"]]
                [:period [:paste "⊆"]]
                [:slash [:paste "⊇"]]

                [:y [:paste "⊄"]]
                [:n [:paste "⊅"]]
            ]
        }

        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; -------------- C Operators ------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "c-operators"
            :rules [
                [:condi :c-operators :builtin]

                [:j :!Sequal_sign]
                [:k :!OS9]
                [:l [:paste "∘"]]
                [:semicolon :!OSequal_sign]

                [:h [:paste "↦"]]

                [:u [:paste "×"]]
                [:i [:paste "⊕"]]
                [:o [:paste "⊗"]]
                [:p [:paste "⊙"]]

                [:m [:paste "→"]]
                [:comma [:paste "←"]]
                [:period [:paste "↑"]]
                [:slash [:paste "↓"]]
            ]
        }

        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; --------------- X Logic ---------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "x-logic"
            :rules [
                [:condi :x-logic :builtin]

                [:j [:paste "∧"]]
                [:k [:paste "∨"]]
                [:l [:paste "∃"]]
                [:semicolon [:paste "∀"]]

                [:h [:paste "¬"]]

                [:u [:paste "⟹"]]
                [:i [:paste "⟺"]]
                [:o [:paste "⊢"]]
                [:p [:paste "⊨"]]

                [:m [:paste "⊤"]]
                [:comma [:paste "⊥"]]
                [:period [:paste "∴"]]
            ]
        }

        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ------------- G Left Shift ------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "g-left-shift"
            :rules [
                [:condi :g-left-shift :builtin]

                [:j :!Sj]
                [:k :!Sk]
                [:l :!Sl]
                [:semicolon :semicolon]

                [:h :!Sh]

                [:u :!Su]
                [:i :!Si]
                [:o :!So]
                [:p :!Sp]

                [:m :!Sm]
                [:comma :!S1]
                [:period :!Sslash]
                [:slash :!S4]

                [:n :!Sn]
                [:y :!Sy]
            ]
        }

        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ----------- J Text Navigation ---------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "j-text-navigation"
            :rules [
                [:condi :j-text-navigation :builtin]

                [:f :right_arrow] ; moves cursor right
                [:d :left_arrow] ; moves cursor left
                [:s :up_arrow] ; moves cursor up
                [:a :down_arrow] ; moves cursor down

                [:r :!Oright_arrow] ; moves cursor right by one word
                [:e :!Oleft_arrow] ; moves cursor left by one word
                [:w :!Cright_arrow] ; moves cursor to end of line
                [:q :!Cleft_arrow] ; moves cursor to beg. of line

                [:v :!SOTv] ; moves cursor right by one word
                [:c :!TOequal_sign] ; moves cursor left by one word
                [:x :!SOTx] ; moves cursor to end of line
                [:z :!SOTz] ; moves cursor to beg. of line
            ]
        }

        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ----------- K Tab Navigation ----------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "k-tab-navigation. controls tmux, arc, cursor (limited), and mac in general (limited)."
            :rules [[:condi :k-tab-navigation :builtin]

                [:spacebar :!TOw] ; tmux, arc: closes focused tab, pane, or window.
                
                [:g :!TOg] ; tmux: create new window. arc: create new tab.
                [:f :!TOf] ; tmux: focus next pane. arc: focus next tab.
                [:d :!TOd] ; tmux: focus previous pane. arc: focus previous tab.
                [:s :!TOs] ; tmux: focus next window. arc: focus right pane.
                [:a :!TOa] ; tmux: focus previous window. arc: focus left pane.

                [:t :!TOq] ; arc: switch spaces.
                [:r :!TOr] ; tmux: split vertically. arc: escape split view.
                [:e :!TOe] ; tmux, arc: split horizontally.
                [:w :!Cclose_bracket] ; arc: navigate to next link
                [:q :!Copen_bracket] ; arc: navigate to previous link

                [:v :page_up] ; mac: scroll up by one screen
                [:c :page_down] ; mac: scroll down by one screen
                [:x :!Fleft_arrow] ; mac: scroll to top
                [:z :!Fright_arrow] ; mac: scroll to bottom
            ]
        }

        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------- L Window Navigation --------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "l-window-navigation. controls aerospace."
            :rules [
                [:condi :l-window-navigation :builtin]

                [:spacebar :!SOspacebar] ; aerospace: closes focused window.

                [:f :!SOf] ; aerospace: focus the next tile
                [:d :!SOd] ; aerospace: focus the previous tile
                [:s :!SOs] ; aerospace: go to workspace 2
                [:a :!SOa] ; aerospace: go to workspace 1

                [:r :!SOr] ; aerospace: move current window to workspace 2
                [:e :!SOe] ; aerospace: move current window to workspace 1
                [:w :!SOw] ; aerospace: activate accordion layout and toggle vertical/horizontal
                [:q :!SOq] ; aerospace: activate split-screen and toggle vertical/horizontal

                [:v :!SOv] ; aerospace: resize by +50
                [:c :!SOc] ; aerospace: resize by -50
            ]
        }

        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; --------- Semicolon 1 through 5 -------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "semicolon-1-through-5"
            :rules [
                [:condi :semicolon-1-through-5 :builtin]

                [:a :1]
                [:s :2]
                [:d :3]
                [:f :4]
                [:g :5]
            ]
        }

        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ----------- U File Navigation ---------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "u-file-navigation"
            :rules [
                [:condi :u-file-navigation :builtin]

                [:f :!Cz] ; undo
                [:d :!CSz] ; redo
                [:s :tab] ; next ui element
                [:a :!Stab] ; previous ui element

                [:r :!Cf] ; opens a find input box
                [:e :!COf] ; opens a find and replace input box
                [:w :!Cg] ; moves cursor to next search result
                [:q :!CSg] ; moves cursor to previous search result

                [:v :!Cs] ; save
                [:c :escape] ; escape key

                [:spacebar :!SCOm] ; accept autocomplete suggestion
                [:g :!Ff2] ; rename symbol
            ]
        }

        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ----------- I Text Selection ----------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "i-text-selection"
            :rules [
                [:condi :i-text-selection :builtin]

                [:f :!SOright_arrow] ; adds/removes next word to selected text
                [:d :!SOleft_arrow] ; adds/removes prev. word to selected text
                [:s :!SCright_arrow] ; adds (from end of line) to selected text
                [:a :!SCleft_arrow] ; adds (from beg. of line) to selected text

                [:r :!Sright_arrow] ; adds/removes next char to selected text
                [:e :!Sleft_arrow] ; adds/removes previous char to selected text
                [:w :!Sup_arrow] ; adds/removes previous line to selected text
                [:q :!Sdown_arrow] ; adds/removes next line to selected text

                [:v :!Cv] ; pastes text from clipboard with formatting
                [:c :!Cx] ; removes selected text and saves it to clipboard
                [:x :!Cc] ; copies selected text to clipboard
                [:z :!CSv] ; pastes text from clipboard without formatting

                [:spacebar :!Cslash] ; comment/uncomment
                [:g :!Ca] ; adds/removes all text to selected text

            ]
        }
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ------------ O Audio/Visual -----------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------

        {
            :des "o-audio-visual"
            :rules [
                [:condi :o-audio-visual :builtin]

                [:f :volume_increment]
                [:d :volume_decrement]
                [:s :display_brightness_increment]
                [:a :display_brightness_decrement]
                                
                [:r :!Cl] ; screenshot full screen

                [:g :mute]

            ]
        }

        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ------------- H Right Shift -----------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "h-right-shift"
            :rules [
                [:condi :h-right-shift :builtin]

                [:f :!Sf]
                [:d :!Sd]
                [:s :!Ss]
                [:a :!Sa]

                [:g :!Sg]

                [:r :!Sr]
                [:e :!Se]
                [:w :!Sw]
                [:q :!Sq]

                [:v :!Sv]
                [:c :!Sc]
                [:x :!Sx]
                [:z :!Sz]

                [:b :!Sb]
                [:t :!St]
            ]
        }

        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; -------------- All Layers -------------
        ; ---------------------------------------
        ; ---------------------------------------
        ; ---------------------------------------
        {
            :des "all layers"
            :rules [
                :builtin
                [:slash :!S2]
                [:semicolon :!Ssemicolon]
            ]
        }
    ]
}
